@font-face {
    font-family: 'Raleway';
    src: url('Fonts/raleway/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway Bold';
    src: url('Fonts/raleway/Raleway-Bold.ttf') format('truetype');
}

body {
    font-family: 'Raleway', 'Times New Roman', Times, serif;
}

b {
    font-family: 'Raleway Bold';
}

.logo {
    width: 97px;
    height: 45px;
    margin-left: 25px;
    margin-top: 15px;
}

.link {
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 25px;
}

.divBfrHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link a {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}

#inscription {
    color: blue;
}

.link a:focus {
    color: blue;
    border-top: 3px solid blue;
    text-decoration: none;
}

.header {
    margin-left: 25px;
}

.fas[data-active="true"] {
    color: #0165fc;
}

.fas[data-active="false"] {
    color: #d1d1d9;
}

.imap {
    background-color: #F2F2F2;
    border: none;
    padding: 0.8rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
}

.input {
    border: none;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    box-sizing: border-box;
    font-weight: bold;
}

.searchBtn {
    text-align: center;
    padding: .75rem 1.25rem;
    border-radius: 0 1rem 1rem 0;
    border: none;
    background-color: #0165fc;
    color: white;
    font-weight: bold;
}

#iSearch {
    display: none;
}

.btnIcon {
    border-radius: 200px;
    padding: 18px;
    border: #F2F2F2 1px solid;
    color: #0165fc;
    background-color: rgb(205, 215, 255);
}

.divFiltre {
    border-radius: 200px;
    border: #F2F2F2 1px solid;
    padding-right: 10px;
    cursor: pointer;
}

.divFiltre:hover {
    background-color: #d1d1d9;
}

.btnFiltre {
    display: inline-flex;
    margin-top: 15px;
}

.btnFiltre h3 {
    position: relative;
    top: 15px;
}

.btnFiltre ul {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
}

.iDiv {
    margin-top: 15px;
    margin-bottom: 15px;
}

.info {
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    border: #d1d1d9 1px solid;
    color: #0165fc;
    margin-right: 1rem;
}

.main {
    display: flex;
    flex-direction: column;
}

.main a {
    color: black;
    text-decoration: none;
}

.hebergement {
    width: 100%;
    display: inline-flex;
    flex-flow: row wrap;
}

.sectHeb {
    background-color: #d1d1d9;
    border-radius: 20px;
    margin-left: 25px;
    width: 63%;
    height: fit-content;
}

.sectPop {
    background-color: #d1d1d9;
    border-radius: 20px;
    margin-left: 20px;
    width: 33%;
}

.h3Heb {
    padding-left: 20px;
}

.div1, .div2 {
    display: inline-flex;
    flex-direction: row;
    padding-left: 20px;
    padding-bottom: 20px;
    width: max-content;
}

.card {
    height: fit-content;
    width: fit-content;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 16px grey;
    padding: 0.2rem;
    margin-right: 20px;
}

.card h5, p, .stars, figure{
    display: flex;
    justify-content: center;
}

.cardPop {
    display: flex;
    flex-direction: row;
    height: fit-content;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 16px grey;
    margin: 20px;
    padding: 0.2rem;
}

.divIntro {
    text-align: center;
    margin-left: 25px;
}

.imgSectHeb {
    width: 275px;
    height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.imgSectPop {
    width: 200px;
    height: 175px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.printMore {
    cursor: pointer;
    margin-left: 20px;
}

.divPop {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.iPop {
    position: relative;
    left: 20px;
    top: 23px;
}

.titleAct {
    margin-left: 25px;
}

.actSection {
    display: inline-flex;
    flex-flow: row wrap;
    width: 100%;
    height: fit-content;
}

.cardAct {
    height: fit-content;
    width: fit-content;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 16px grey;
    margin-left: 25px;
}

.divActTitle {
    display: flex;
    justify-content: center;
}

.inline {
    display: inline-flex;
    flex-flow: row wrap;
}

.divMinScale {
    margin-bottom: 25px;
}

.divFooter {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: lightgray;
}

.divFooter h3 {
    text-align: center;
}

.divFooter a {
    color: black;
    text-decoration: none;
}

#vieuxPort {
    height: 345px;
    width: 345px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#fort {
    height: auto;
    width: 345px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#frioul {
    height: auto;
    width: 345px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#pNdC {
    height: 345px;
    width: 345px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#nDdlG {
    height: auto;
    width: 345px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#pL {
    height: auto;
    width: 345px;    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}