@font-face {
    font-family: 'Raleway';
    src: url('Fonts/raleway/Raleway-Regular.ttf') format('truetype');
}

body {
    font-family: 'Raleway', 'Times New Roman', Times, serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.75rem;
}

.logo {
    width:  97px;
    height: 45px;
    margin-left: 25px;
    margin-top: 15px;
}

.link {
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 25px;
}

.link a {
    color: black;
}

.section {
    font-size: 1.75rem;
    margin-top: 40px;
    margin-left: 50px;
}

#imap {
    background-color: #F2F2F2;
    border: none;
    padding: 1.25rem 1.5rem;
    border-radius: 1rem 0 0 1rem;
}

.input {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    box-sizing: border-box;
    font-weight: bold;
}

.searchBtn {
    text-align: center;
    padding: .75rem 1.25rem;
    border-radius: 0 1rem 1rem 0;
    border: none;
    background-color: blue;
    color: white;
    font-weight: bold;
}

.fas[data-active="true"] {
    color: #0165fc;
}

.fas[data-active="false"] {
    color: #d1d1d9;
}