body {
    font-size: 2rem;
}

.logo {
    margin-left: 25px;
    margin-top: 15px;
    width: 25%;
    height: 25%;
}

#pSearch {
    display: none;
}

#Heb {
    position: relative;
}

#Act {
    position: relative;
}

.searchBtn {
    border-radius: 5px;
    padding: .9rem;
}

#iSearch {
    display: block;
    color: white;
}