body {
    font-size: 1.5rem;
    margin: 0px;
}

form {
    font-size: 1.5rem;
}

.logo {
    margin-left: 25px;
    margin-top: 15px;
    width: 25%;
    height: 25%;
}

#pSearch {
    display: none;
}

#Heb {
    position: relative;
}

#Act {
    position: relative;
}

.imap {
    padding: .9rem;
    font-size: 1rem;
}

.searchBtn {
    border-radius: 5px;
    padding: .9rem;
}

#iSearch {
    display: block;
    color: white;
}

.iDiv {
    font-size: 1rem;
}

.hebergement {
    display: flex;
    flex-flow: column-reverse wrap;
}

.card {
    width: auto;
    margin-top: 30px;
}

.imgSectHeb {
    width: 100%;
    height: auto;
}

.sectPop {
    border-radius: 0px;
    width: 100%;
    margin-left: 0px;
}

.hPop {
    position: relative;
    right: 310px;
}

.iPop {
    position: relative;
    left: 300px;
    top: 50px;
}

.sectHeb {
    border: none;
    background-color: white;
}

.div1, .div2 {
    display: flex;
    flex-flow: column;
}

.actSection {
    display: flex;
    flex-flow: column wrap;
}

.divFooter {
    display: flex;
    flex-flow: column;
    padding-left: 50px;
}

#vieuxPort {
    height: auto;
    width: 718px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#fort {
    height: auto;
    width: 718px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#frioul {
    height: auto;
    width: 718px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#pNdC {
    height: auto;
    width: 718px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#nDdlG {
    height: auto;
    width: 718px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#pL {
    height: auto;
    width: 718px;    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.foot {
    text-align: left;
}