body {
    font-size: 1.5rem;
    margin: 0px;
}

form {
    font-size: 1.5rem;
}

.logo {
    margin-left: 25px;
    margin-top: 15px;
    width: 25%;
    height: 25%;
}

#pSearch {
    display: none;
}

#Heb {
    position: relative;
}

#Act {
    position: relative;
}

.imap {
    padding: .9rem;
    font-size: 1rem;
}

.searchBtn {
    border-radius: 5px;
    padding: .9rem;
}

#iSearch {
    display: block;
    color: white;
}

.hebergement {
    display: flex;
    flex-flow: column-reverse wrap;
}

.sectPop {
    border-radius: 0px;
    width: 100%;
}

.sectHeb {
    border: none;
    background-color: white;
}

.actSection {
    display: flex;
    flex-flow: column wrap;
}

.divFooter {
    display: flex;
    flex-flow: column wrap;
}

#vieuxPort {
    height: 100%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#fort {
    height: 100%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#frioul {
    height: 100%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#pNdC {
    height: 100%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#nDdlG {
    height: 100%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#pL {
    height: 100%;
    width: 100%;    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}